.wrapper {
  background: none;
  height: 200px;
  text-align: center;
}

.tally {
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 150px;
  background-image: linear-gradient(to top, yellow 60%, transparent 60%, transparent 90%, yellow 90%);
}

.top,
.buttom {
  position: relative;
  display: flex;
  top: 20px;
  flex-direction: row;
  height: 30px;
}

.top__el,
.buttom__el {
  display: inline-block;
}

.top__el--yellow,
.buttom__el--yellow {

  background-color: yellow;
}

.top__el--transparent,
.buttom__el--transparent {
  background-color: tomato;
}

.top__el--yellow {
  flex: 6;
}

.buttom__el--yellow,
.top__el--transparent {
  flex: 2;
}

.buttom__el--transparent {
  flex: 5;
  border-radius: 25px;
  border-right: 1px solid yellow;
  outline: 2px solid yellow;
}

.top__el--transparent {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top: 1px solid yellow;
}

.top__el--yellow {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}